/* Window open and close */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 350ms;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Start menu slide in */
.slide-enter-active,
.slide-leave-active {
  transition: margin-bottom 150ms ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
  margin-bottom: -800px;
}

.slide-enter-to,
.slide-leave {
  margin-bottom: 0px;
}
/* Start menu slide in */
.slideStart-enter-active,
.slideStart-leave-active {
  transition: opacity 350ms;
}

.slideStart-enter-from,
.slideStart-leave-to {
  opacity: 0;
}

/* Rainbow text */
.rainbow {
  -webkit-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}
